   
      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      }
      
      body{
          
          font-family: 'Open Sans Condensed', sans-serif;
      }
      
      header {
          width: 100%;
          height: 60px;
          background: #333;
          color: #fff;
          position:fixed;
          top: 0;
          left: 0;
          z-index: 100;
      }
      
      .contenedor {
      width: 98%;
      margin: auto;
      
      }

       
      
      h1{
          float: left;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          
      }
      h2{
        font-style: italic;
      }
      
      
      header .contenedor{
          
          display:table;
          margin: auto;
      }
      
      
      section {
          width: 100%;
         height: 300px ;
          margin-bottom: 20px;
          
      }
      
      #bienvenidos {
            height: 20%;
          text-align: center;
          font-family: cursive;
          font-size: 130%;
          opacity: 0.9;
          background: rgb(133, 249, 133);
          
           
      }
      
      
      footer .contenedor{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 25px;
      }
      .copy {
      font-size: 20px;
      
      }
      
      
